body{
    margin: 0;

    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
}
.Minhajul-Abedin{
    font-size: 80px;
    color: blueviolet;
}
.flex-container{
    
    color: aliceblue;
    display: flex;
    border-radius: .5%;
    background-color:rgb(16, 8, 66);
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 85%;
    padding: 5%;
    border-radius: 10%;
}
.hire-button{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    background-image: linear-gradient(blueviolet,blue);
    margin: 1%;
    padding: 1%;
    border-radius: 10%;
}
.secound{
    border-bottom: blueviolet;
    border-radius: .5%;
    
    color: aqua;
    display: flex;
    background-color: rgb(87, 87, 179);
    background-image: url(E:\HTML\Jhankar Course\Milestone 1\module 4\First portfolio\New folder);
}
.second-half-width{
    width: 50%;
    padding: 5%;
}
.second-half-width img{
    width: 85%;
    padding: 5%;
    border-radius: 10%;
}
.cv-button{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    background-image: linear-gradient(rgb(100, 181, 42),rgb(84, 95, 43));
    margin: 1%;
    padding: 1%;
    border-radius: 10%; 
}
.box-shadow{
    border-radius: 2%;
    
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 3%;
    padding: 1%;
    box-shadow: 10px 10px 30px whitesmoke;

}
#border2{
    border-left: 10px solid wheat;
}
#border1{
    border-left: 10px solid rgb(111, 109, 106);
}
footer{
    text-align: center;
    
    
}
    



